%table{:border=>"1"}
  %tr
    %th 主客户号
    %th 客户组别
    %th 姓名
    %th 开户日期
    %th 月底总资产(万元)
    %th 资产峰值(万元)
    %th 月底资金余额(万元)
  %tr
    %td= account.主客户号
    %td= account.客户组别
    %td= account.name
    %td= account.开户日期
    %td= account.当前总资产
    %td= account.当前总市值
    %td= account.当前资金余额
%br

